* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    text-align: center;
    font-size: 40px;
}

.display {
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


.container {
	width: 400px;
	height: 400px;
	margin: 0 auto;
    /* background-color: ; */
    /* color: black; */
    /* border: 6px solid black; */
    /* border-radius: 10px; */
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
    border: 2px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    cursor: pointer;
}

.playerX {
    color: blueviolet;
}

.playerO {
    color: aqua;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    padding: 8px;
    border-radius: 8px;
}

/* gets rid of the border around the tiles */

.tile:first-child,
.tile:nth-child(2),
.tile:nth-child(3) {
    border-top: none;
}

.tile:nth-child(3n + 1) {
    border-left: none;
}

.tile:nth-child(3n + 3) {
    border-right: none;
}

.tile:last-child,
.tile:nth-child(8),
.tile:nth-child(7) {
    border-bottom: none;
}